<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.Accommodation.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.scu.Accommodation.model.entity.Student">
            <id property="id" column="id" />
            <result property="unionId" column="unionId" />
            <result property="grade" column="grade" />
            <result property="stuName" column="stuName" />
            <result property="sex" column="sex" />
            <result property="college" column="college" />
            <result property="major" column="major" />
            <result property="classNum" column="classNum" />
            <result property="park" column="park" />
            <result property="building" column="building" />
            <result property="room" column="room" />
            <result property="roomId" column="roomId" />
            <result property="apartment_id" column="apartment_id" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,unionId,grade,stuName,sex,college,
        major,classNum,park,building,room,roomId,isDelete
    </sql>
</mapper>
