<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.Accommodation.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="com.scu.Accommodation.model.entity.Teacher">
            <id property="id" column="id" />
            <result property="unionId" column="unionId" />
            <result property="teaName" column="teaName" />
            <result property="sex" column="sex" />
            <result property="college" column="college" />
            <result property="title" column="title" />
            <result property="park" column="park" />
            <result property="building" column="building" />
            <result property="room" column="room" />
            <result property="roomId" column="roomId" />
            <result property="apartment_id" column="apartment_id" />
            <result property="phone" column="phone" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,unionId,teaName,sex,college,title,park,building,room,
        roomId,,apartment_id,phone,isDelete
    </sql>
</mapper>
